/* General styling */
body {
  font-family: 'Cabin Sketch', sans-serif;
  font-color: #ffffff;
  margin: 5px;
  padding: 0px;
  background-color: transparent; /* Remove any background */
}

.scoreboard {
  display: flex;
  margin-top: 1px;
  background-color: transparent; /* Remove background from scoreboard */
}

.team {
  font-color: #ffffff; /* Remove background from team boxes */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 120px;  /* Reduced width by half */
  text-align: center;
}

h3 {
  font-size: 30px;  /* Keep the team name font size the same */
  margin-bottom: 5px;
}

.controls {
  margin-top: 5px;
}

button {
  font-size: 16px;
  padding: 6px;  /* Reduced button padding */
  width: 25px;  /* Reduced button width */
  margin: 3px;  /* Reduced margin between buttons */
  cursor: pointer;
}

button:focus {
  outline: none;
}

#score-0, #score-1, #score-2 {
  font-size: 20px;  /* Keep score font size the same */
  font-weight: bold;
}

.team-1 {
  background-color: #000000;
  font-color: #ffffff;
}

.team-2 {
  background-color: #000000;
  font-color: #ffffff;
}

.team-3 {
  background-color: #000000;
  font-color: #ffffff;
}
